name: Release

on:
  release:
    types: [ published ]
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  release:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Publish
      run: |
        dotnet publish app/GHelper.sln --configuration Release --runtime win-x64 -p:PublishSingleFile=true --no-self-contained

    - name: Create ZIP
      run: powershell Compress-Archive app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.exe app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.zip

    - name: Upload EXE and ZIP
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh release upload "${{ github.event.release.tag_name }}" app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.exe app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.zip --clobber
    - name: Generate SLSA build provenance attestation
      uses: actions/attest-build-provenance@v2
      with:
        subject-path: |
          app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.exe
          app/bin/x64/Release/net8.0-windows/win-x64/publish/GHelper.zip
